UL.actions
{
	float:right;
	clear:right;
	margin-left:6px;
	height:inherit;
	width:auto;
	max-width:64px;
	display:none;
}

TD:hover > UL.actions
{
	display:block;
}

	UL.actions > LI
	{
		float:left;
		clear:none;
	}
	
		UL.actions > LI > A
		{
			float:left;
			clear:both;
			width:100%;
			height:100%;
			
			text-indent:-99999px;
		}

SPAN.name
{
	height:inherit;
	width:201px;
	float:left;
	clear:left;
	overflow:hidden;
	white-space:nowrap;
	vertical-align:middle;

	color:#0085BF;
	line-height:18px;
}

TD:hover > SPAN.name
{
	width:130px;
}

	SPAN.name.is_title
	{
		
		color:#6F1414;
	}
	
	SPAN.name.is_backup
	{
		color:#CF8733;
	}

#content UL.full_size LI FORM A#create_subroutine__fetch_criteria__add_policy_button
{
	height:22px;
	width:auto;
	float:right;
	clear:right;
	margin:2px 0 0 0;
	padding:0 18px 0 0;
	background-image:url('{{$STYLE_IMAGES_URL}}/plus_green_16.png');
	background-position:right center;
	background-repeat:no-repeat;
	display:none;
	
	font-family:inherit;
	font-style:oblique;
	color:#006600;
}

#content UL.full_size LI FORM A.create_subroutine__fetch_criteria__remove_policy_button
{
	height:28px;
	width:18px;
	float:right;
	clear:right;
	margin:0px;
	padding:0px;
	background-image:url('{{$STYLE_IMAGES_URL}}/minus_red_16.png');
	background-position:right top;
	background-repeat:no-repeat;
}

#content UL.full_size LI FORM SPAN.create_subroutine__fetch_criteria__policies
{
	display:none;
	float:left;
	margin:0;
	width:100%;
}

#content UL.full_size LI FORM SPAN.create_subroutine__fetch_criteria__policies SPAN.create_subroutine__fetch_criteria__arrow_turn_left
{
	height:74px;
	width:20px;
	float:left;
	clear:none;
	margin:2px 0 0 1px;
	background-image:url('{{$STYLE_IMAGES_URL}}/arrow_turn_left.png');
	background-repeat:no-repeat;
	background-position:bottom left;
}

#content UL.full_size LI FORM SPAN.create_subroutine__fetch_criteria__policies I.create_subroutine__fetch_criteria__group_heading
{
	height:20px;
	width:98px;
	float:right;
	clear:right;
	margin:2px 0 0 1px;
	padding:5px 2px 0 3px;
	
	font-family:inherit;
	font-weight:normal;
	font-style:oblique;
	font-size:14px;
	text-align:right;
	vertical-align:middle;
	color:#66CC66;
}

#content UL.full_size LI FORM SPAN.create_subroutine__fetch_criteria__policy_shortcut
{
	height:18px;
	width:auto;
	float:left;
	clear:right;
	margin:2px 0 0 3px;
	padding:0 4px 0 4px;
	border:1px solid #0085BF;
	
	font-weight:bold;
	line-height:18px;
}

#content UL.full_size LI FORM A.create_subroutine__fetch_criteria__add_query_button
{
	height:20px;
	width:20px;
	float:right;
	clear:right;
	margin:2px 0 0 0;
	padding:0;
	background-image:url('{{$STYLE_IMAGES_URL}}/plus_blue_16.png');
	background-position:right center;
	background-repeat:no-repeat;
	
	text-indent:-99999px;
}

#content UL.full_size LI FORM A.create_subroutine__fetch_criteria__remove_query_button
{
	height:20px;
	width:20px;
	float:right;
	clear:right;
	margin:2px 0 0 0;
	padding:0;
	background-image:url('{{$STYLE_IMAGES_URL}}/minus_red_16.png');
	background-position:right;
	background-repeat:no-repeat;
	
	text-indent:-99999px;
}

#content UL.full_size LI FORM SPAN.pre_extra,
#content UL.full_size LI FORM SPAN.extra,
#content UL.full_size LI FORM SPAN.create_subroutine__sort_by
{
	width:100%;
	float:left;
	clear:both;
	margin:2px 0 0 0;
	display:none;
}

#content UL.full_size LI FORM A#create_subroutine__fetch_criteria__add_sorting_button
{
	height:22px;
	width:auto;
	float:right;
	clear:right;
	margin:2px 0 0 0;
	padding:0 18px 0 0;
	background-image:url('{{$STYLE_IMAGES_URL}}/plus_green_16.png');
	background-position:right center;
	background-repeat:no-repeat;
	display:none;
	
	font-family:inherit;
	font-style:oblique;
	color:#006600;
}

#content UL.full_size LI FORM A.create_subroutine__fetch_criteria__remove_sorting_button
{
	height:20px;
	width:18px;
	float:right;
	clear:right;
	margin:0px;
	padding:0px;
	background-image:url('{{$STYLE_IMAGES_URL}}/minus_red_16.png');
	background-position:center right;
	background-repeat:no-repeat;
}

SPAN.create_subroutine__fetch_criteria__policies SELECT,
SPAN.create_subroutine__fetch_criteria__policies TEXTAREA,
SPAN.create_subroutine__fetch_criteria__policies INPUT,
SPAN.create_subroutine__sort_by SELECT,
SPAN.create_subroutine__sort_by TEXTAREA,
SPAN.create_subroutine__sort_by INPUT,
SPAN.pre_extra SELECT,
SPAN.pre_extra TEXTAREA,
SPAN.pre_extra INPUT,
SPAN.extra SELECT,
SPAN.extra TEXTAREA,
SPAN.extra INPUT
{
	margin:2px 2px 0 0 !important;
}

.dependency_list
{
	list-style-position:inside;
	list-style-type:none;
}

.dependency_list LI
{
	background-image:url('{{$STYLE_IMAGES_URL}}/arrow_next_blue_10.png');
	background-position:left 66%;
	background-repeat:no-repeat;
	float:left;
	clear:none;
	margin-right:5px;
	padding-left:12px;
}