<ul id="nav">
	<li style="width:113px; background-image:url('{{$STYLE_IMAGES_URL}}/acp__navigation__system.jpg'); background-repeat:no-repeat;">
		<a href="#" title="Configuration">Configuration</a>
		<ul style="color: #346C11; box-shadow: 0 0 3px 1px #346C11;">
			<li>
				<a href="#">System</a>
				<ul style="color: #346C11; box-shadow: 0 0 3px 1px #346C11;">
					<li><a href="{{$MODULE_URL}}/configuration/system-cookies">Cookies</a></li>
					<li><a href="{{$MODULE_URL}}/configuration/system-email">E-Mail Setup</a></li>
					<li><a href="{{$MODULE_URL}}/configuration/system-general">General Configuration</a></li>
					<li><a href="{{$MODULE_URL}}/configuration/system-modules">Module Management</a></li>
					<li><a href="{{$MODULE_URL}}/configuration/system-security">Security</a></li>
					<li><a href="{{$MODULE_URL}}/configuration/system-serverenvironment">Server Environment</a></li>
					<li><a href="{{$MODULE_URL}}/configuration/system-performance">Performance &amp; Optimizations</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Assets</a>
				<ul style="color: #346C11; box-shadow: 0 0 3px 1px #346C11;">
					<li><a href="{{$MODULE_URL}}/configuration/system-medialibrary">Media Library</a></li>
					<li><a href="{{$MODULE_URL}}/configuration/system-userprofiles">User Accounts</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Business</a>
				<ul style="color: #346C11; box-shadow: 0 0 3px 1px #346C11;">
					<li><a href="{{$MODULE_URL}}/configuration/system-searchenginesspiders">Search Engines</a></li>
				</ul>
			</li>
			<li>
				<a href="#">3rd-party Integration</a>
				<ul style="color: #346C11; box-shadow: 0 0 3px 1px #346C11;">
					<li><a href="{{$MODULE_URL}}/configuration/system-ipconvergepublic">IP.Converge</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li style="width:118px; background-image:url('{{$STYLE_IMAGES_URL}}/acp__navigation__components.jpg'); background-repeat:no-repeat;">
		<a href="#" title="Components">Components</a>
		<ul style="color: #B94E2A; box-shadow: 0 0 3px 1px #B94E2A;">
			<li>
				<a href="#">Modules</a>
				<ul style="color: #B94E2A; box-shadow: 0 0 3px 1px #B94E2A;">
					<li><a href="{{$MODULE_URL}}/components/modules">Module Management</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Material Resource Planning</a>
				<ul style="color: #B94E2A; box-shadow: 0 0 3px 1px #B94E2A;">
					<li>
						<a href="#">Warehouse Management</a>
						<ul style="color: #B94E2A; box-shadow: 0 0 3px 1px #B94E2A;">
							<li><a href="{{$MODULE_URL}}/components/mrp/warehouse/uom">Units of Measure</a></li>
							<li><a href="{{$MODULE_URL}}/components/mrp/warehouse/bom">Bill of Materials</a></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li style="width:106px; background-image:url('{{$STYLE_IMAGES_URL}}/acp__navigation__content_and_data.jpg'); background-repeat:no-repeat;">
		<a href="#" title="Content &amp; Data">Content &amp; Data</a>
		<ul style="color: #454A82; box-shadow: 0 0 3px 1px #454A82;">
			<li>
				<a href="#">Media Library</a>
				<ul style="color: #454A82; box-shadow: 0 0 3px 1px #454A82;">
					<li><a href="{{$MODULE_URL}}/content-and-data/media-library">Media List</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Users</a>
				<ul style="color: #454A82; box-shadow: 0 0 3px 1px #454A82;">
					<li><a href="{{$MODULE_URL}}/content-and-data/users">Manage Users</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li style="width:136px; background-image:url('{{$STYLE_IMAGES_URL}}/acp__navigation__look_and_feel.jpg'); background-repeat:no-repeat;">
		<a href="{{$MODULE_URL}}/look_and_feel/" title="Components">Look &amp; Feel</a>
	</li>
</ul>