UL.section > LI > FORM A.revert
{
	width: 16px;
	height: 16px;
	background-image: url('{{$STYLE_IMAGES_URL}}/arrow_back_2.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	background-color: transparent;
	border-width: 0;
	float: right;
	clear: right;
	cursor: pointer;
	margin: 1.5% 1.5% 1.5% 0;
	
	text-indent:-99999px;
}